/* Resets and base styles */
body {
  font-family: "proxima-nova", sans-serif;
  font-size: 16px;
}
body a {
  color: inherit;
  text-decoration: none;
}

* {
  outline: 0;
  border: 0;
  margin: 0;
}

.left {
  float: left;
}
.right {
  float: right;
}

.ui-panel {
  margin: 0 auto;
  margin-top: 120px;
  width: 360px;
  height: auto;
  background-color: black;
  color: white;
  border: 1px solid #161616;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.3);
  position: absolute;
  margin-top: -130px;
  margin-left: -181px;
  top: 50%;
  left: 50%;
}

header {
  height: 46px;
  border-bottom: 1px solid #161616;
  line-height: 46px;
  padding: 0 28px;
  font-size: 0.95em;
  font-weight: 600;
  letter-spacing: 0.3em;
}
header:after {
  content: "";
  display: table;
  clear: both;
}
header .logo {
  text-transform: uppercase;
}
header span {
  color: #ffdd00;
}

.login-form {
  padding: 18px 28px 0 28px;
}
.login-form:after {
  content: "";
  display: table;
  clear: both;
}
.login-form .subtitle {
  font-size: 0.92em;
}
.login-form input {
  font-size: 1.05em;
  font-weight: 300;
  margin-top: 18px;
  padding: 10px 8px;
  width: 288px;
}

footer {
  padding: 26px 28px 22px 28px;
  font-size: 0.99em;
}
footer:after {
  content: "";
  display: table;
  clear: both;
}
footer .social-login i:first-child {
  margin-left: 4px;
}
footer .form-actions a {
  padding: 4px 8px;
}
footer .register {
  background-color: #ffdd00;
  color: black;
  border-radius: 2px;
}

/* overlay + body */
body {
  width: 100%;
  height: 100%;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.88);
}
